{{/* -*- engine:go -*- */}}    

{{ define "javascript" }}
    {{ partial `forms/scripts.html` }}
{{ end }}

{{ define "main" }}
    <style>
     body.dragging, body.dragging * {
         cursor: move !important;
     }

     .dragged {
         position: absolute;
         opacity: 0.5;
         z-index: 2000;
     }

     ol.panelTimes li.placeholder {
         position: relative;
         /** More li styles **/
     }
     ol.panelTimes li.placeholder:before {
         position: absolute;
         /** Define arrowhead **/
     }
    </style>



    {{ $.Scratch.Add "labelClasses"  ""}}
    {{ $.Scratch.Add "inputClasses"  ""}}
    <form id="panelForm" class="black-80 sans-serif" accept-charset="UTF-8" action="/panel" method="POST"  data-persist="garlic" role="form">

    <div class="form-inline">
        <label class="col-2 {{ $.Scratch.Get "labelClasses" }}"  for="name">Your Name</label>
        <input type="text" id="name" name="name" class="col-8 {{ $.Scratch.Get "inputClasses" }}"  required placeholder="Foolscap Jester"  aria-labelledby="name"/>


        <label class="{{ $.Scratch.Get "labelClasses" }}" for="anonymizeName">Anonymize Name on Web</label>
        <input type="checkbox" name="anon" value="anonymizeName">
    </div>

    <div class="form-inline">
        <label class="{{ $.Scratch.Get "labelClasses" }}" for="title">Session Title (will be filename)</label>
        <input type="text" id="title" name="title" maxlength="200" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Fountain Pens"  aria-labelledby="title"/>
    </div>

    <fieldset class="form-inline">
        <legend class="{{ $.Scratch.Get "labelClasses" }}" for="panelType">Panel Type</legend>
        <label class="{{ $.Scratch.Get "labelClasses" }}"  for="panelType.presentation">Presentation/Demo</label>
        <input type="radio" name="panelType" value="panelType.panel">
        <label class="{{ $.Scratch.Get "labelClasses" }}"  for="panelType.pannelDiscussion">Panel Dicussion</label>
        <input type="radio" name="panelType" value="panelType.open" checked>
        <label class="{{ $.Scratch.Get "labelClasses" }}"  for="panelType.openDiscussion">Open Discussion</label>
        <input type="radio" name="panelType" value="panelType.presentation">
    </fieldset>    

    <fieldset style="display: grid;">
        <input type="hidden" id="hidden-good-times-input" name="hidden-good-times-input" value=""/>
        <input type="hidden" id="hidden-bad-times-input" name="hidden-bad-times-input" value=""/>        
        <ol class="panelTimes vertical list-group" id="goodTimes" name="goodTimes" style="grid-column: 1 / 2; min-height: 10px;">
            <label class="list-group-item disabled" style="">👍⏰</label>
            {{ $scratch := newScratch }}
            {{ .Scratch.Set "class" "list-group-item" }}
            {{ .Scratch.Set "day" "Saturday" }}

            {{ .Scratch.Set "room" "Columbia A/1" }}            
            {{ .Scratch.Set "time" "4pm" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "5pm" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "9pm" }}{{ partial `forms/li-time-slot.html` . }}                        
            
            {{ .Scratch.Set "room" "Columbia B/2" }}
            {{ .Scratch.Set "time" "2pm" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "3pm" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "5pm" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "8pm" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "9pm" }}{{ partial `forms/li-time-slot.html` . }}

            {{ .Scratch.Set "day" "Sunday" }}

            {{ .Scratch.Set "room" "Columbia A/1" }}            
            {{ .Scratch.Set "time" "10am" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "11am" }}{{ partial `forms/li-time-slot.html` . }}
            
            {{ .Scratch.Set "room" "Columbia B/2" }}
            {{ .Scratch.Set "time" "10am" }}{{ partial `forms/li-time-slot.html` . }}
            {{ .Scratch.Set "time" "11am" }}{{ partial `forms/li-time-slot.html` . }}
        </ol>
        <ol class="panelTimes vertical list-group" id="badTimes" name="badTimes" style="grid-column: 2 / 2; min-height: 10px;">
            <label class="list-group-item disabled">👎⏰</label>
        </ol>
    </fieldset>
    <div class="form-inline">
        <label class="{{ $.Scratch.Get "labelClasses" }}"  for="mc">Organzer/Facilitator/Panelists</label>
        <input type="text" id="mc" name="mc" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Foolscap Jester"  aria-labelledby="mc"/>
    </div>

    <div class="form-inline">
        <label class="{{ $.Scratch.Get "labelClasses" }}" for="tagline">Tag Line</label>    
        <input type="text" id="tagline" name="tagline" maxlength="200" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Tools from a more civilized age. Pens and Paper"  aria-labelledby="taglinetitle"/>
    </div>
    <div class="form-inline">                
        <label class="{{ $.Scratch.Get "labelClasses" }}" for="description">Description</label>    
        <textarea id="description" name="description" maxlength="5000" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Show off your pens! Learn about pens! Discuss the best paper for pens! Dicuss and discover inks."  aria-labelledby="description"></textarea>
    </div>
    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="Send" />

</form>

{{ end }}

